*{
    box-sizing: border-box;
    margin: 0;
} 

.background{
    background-image: url(/img/pattern.png);
    background-color: rgb(78, 160, 255);
}

.logo{
    height: 60px;
    margin-top: 100px;
    margin-left: 10;
}

.margin{
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.margin_top{
    margin-top: 30px;
}

.autor{
    margin-top:10px;
}

.color_grey{
    color: rgb(120, 120, 120);
}

.color_blu{
    color: rgb(80, 188, 235);
}

#note{
    font-size: 10px;
    margin-bottom: 20px;
}

.illuminated{
    background-color: rgb(255, 255, 0);
}

.list{
    margin-top: 20px;
}

.back_color_blu{
    background-color: rgb(78, 161, 255);
}

.thead{
    width: 25%;
    color: white;
    text-align: left;
}

.thead_text{
    width: 50%;
    color: white;
    text-align: left;
}

.style{
    border-collapse: collapse;
}

.back_color_c{
    background-color:rgba(80, 189, 235, 0.56);
}

#margine{
    margin-top: 20px;
}

.to_interes{
    margin-bottom: 5px;
    margin-top: 5px;
    
}

/* .table{
    margin-top: 30px;
    background-color: rgb(78, 160, 255);

}

.thead{
    display: inline-block;
    width: 24%;
    color: white;
}

.thead_text{
    display: inline-block;
    width: 50%;
    color: white;
}

.line_one{
    display: inline-block;
    width: 24%;
}

.line_two{
    display: inline-block;
    width: 24%;
}

.line_tree{
    display: inline-block;
    width:50%;
}

.row_uno , .row_tre {
    height: 70px;
    background-color: rgba(80, 189, 235, 0.585);
}

.row_due{
    height: 70px;
} */

